html{
   margin: 0;
   padding: 0;
}

#section1{
    height: 40em;   
}

.enroll-form {
    margin: 70px;
}

h2 {
    color: red;
}

.form-control {
    padding: 20px;
    margin-bottom: 30px;
}

#long-button {
    margin: 40px 0;
}

#section2 {
    padding-bottom: 50px;
}

.class-img{
    height: 60%;
}

#man{
    height:70%;
    width:50%;
    margin-left: 180px;
    margin-top: 50px;
}

.left-col{
    font-size:50px;
    margin-left: 40px;
    font-weight: bold;
    margin-top: 15px;
}

.right-col{
    margin-top: 20px;
}

#part-text{
    margin-top: 40px;
    text-align: center;
}

.section3 {
    background-color: ghostwhite;
    padding-top: 80px;
}

.section4 {
    padding-top:80px;
    background-color: ghostwhite;
}

@media (min-device-width:600px) {
    
}
