.live-container {
    margin: 40px 40px;
}

.aboutClass {
    border: 1px solid;
    padding: 20px;
    border-color: lightgrey;
    margin-left: 30px;
    width: 100%;
    margin-top: 30px;
}

.liveVideo {
    width: 100%;
    height: 500px;
    margin-left: 30px;
}

hr {
    margin-top: 50px;
}

.live-card {
    margin-left: 80px;
    width: 60%;
    height: 320px;
}

.live-comments {
    margin-top: 40px;
}

@media screen and (min-width:978px) and (max-width: 1024px) {
    
}

@media screen and (min-width: 575px) and (max-width: 979px) {
    .liveVideo {  
        height: 400px;
        
    }
    .live-card {
        margin-left: 40px;
        width: 80%;
        height: 300px;
    }
}

@media screen and (min-width: 320px) and (max-width:360px) {
    
}

@media screen and (min-width: 361px) and (max-width:574px) {
    
}