.enroll-form{
    border-style: outset;
    border-width: 1.5px;
    margin: 60px auto;
    box-sizing: content-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 400px;
    padding: 35px 60px;
    
}

@media screen and (min-width: 979px) and (max-width: 1024px) {
    .enroll-form {
        width: 500px;
        
    }
}

@media screen and (min-width: 320px) and (max-width:360px) {
    .enroll-form {
        width: 220px;
        padding: 25px 15px;
    }
}

@media screen and (min-width: 361px) and (max-width:574px) {
    .enroll-form {
        width: 230px;
        padding: 25px 30px;
    }
}
